<h1>Listing characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= character.address %></td>
    <td>
    	<div id = "lat">
	    	<%= character.latitude %>
	    </div>	
    </td>
    <td>
    	<div id = "lan">
    		<%= character.longitude %>
    	</div>	
    </td>
    <td><%= character.gmaps %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

  
 <% end %> 
</table>
<div id="location">
<%= gmaps4rails(@json) %>
</div>
<br />

<%= link_to 'New Character', new_character_path %>
